{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    <h1>Create Fruit<h1>

    <div class="container">
        {{ form(form) }}
    </div>
{% endblock %}